<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{90} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="reactor.ipc.netty.http.server.HttpServer" level="WARN"/>
    <logger name="org.mongodb.driver.cluster" level="WARN"/>
    <logger name="org.mongodb.driver.protocol.command" level="WARN"/>
    <logger name="reactor.ipc.netty.channel.ChannelOperationsHandler" level="WARN"/>
    <logger name="reactor.ipc.netty.http.server.HttpServerOperations" level="WARN"/>
    <logger name="org.springframework.web.reactive.function.server.RouterFunctions" level="WARN"/>
    <logger name="org.mongodb.driver.protocol.update" level="WARN"/>
    <logger name="org.springframework.data.mongodb.core.MongoTemplate" level="WARN"/>
    <logger name="org.springframework.data.mongodb.core.ReactiveMongoTemplate" level="WARN"/>
    <logger name="org.springframework.data.mongodb.core.index.MongoPersistentEntityIndexCreator" level="WARN"/>
    <logger name="org.mongodb.driver.connection" level="WARN"/>
    <logger name="org.synchronoss.cloud.nio.multipart.DefaultPartBodyStreamStorageFactory" level="WARN"/>
    <logger name="reactor.ipc.netty.channel.FluxReceive" level="WARN"/>
    <logger name="org.synchronoss.cloud.nio.stream.storage.FileStreamStorage" level="WARN"/>
    <logger name="reactor.ipc.netty.channel.ChannelOperations" level="WARN"/>
    <logger name="org.springframework.http.server.reactive.ReactorServerHttpResponse" level="WARN"/>
    <logger name="reactor.ipc.netty.channel.ContextHandler" level="WARN"/>
    <logger name="org.springframework.http.server.reactive.ReactorHttpHandlerAdapter" level="WARN"/>
    <logger name="org.springframework.web.reactive.function.client.ExchangeFunctions" level="WARN"/>
    <logger name="reactor.ipc.netty.resources.DefaultPoolResources" level="WARN"/>
    <logger name="reactor.ipc.netty.channel.PooledClientContextHandler" level="WARN"/>
    <logger name="reactor.ipc.netty.resources.DefaultPoolResources" level="WARN"/>
    <logger name="reactor.ipc.netty.channel.PooledClientContextHandler" level="WARN"/>
    <logger name="io.netty.handler.ssl.SslHandler" level="WARN"/>
    <logger name="reactor.ipc.netty.http.client.HttpClientOperations" level="WARN"/>
    <logger name="org.springframework.web.reactive.function.client.ExchangeFunctions" level="WARN"/>
    <logger name="reactor.netty.channel.FluxReceive" level="WARN"/>
    <logger name="org.springframework.web.server.adapter.HttpWebHandlerAdapter" level="WARN"/>
    <logger name="reactor.netty.channel.ChannelOperationsHandler" level="WARN"/>
    <logger name="reactor.netty.http.server.HttpServerOperations" level="WARN"/>
    <logger name="reactor.netty.channel.BootstrapHandlers" level="WARN"/>
    <logger name="reactor.netty.http.server.HttpServer" level="WARN"/>
    <logger name="reactor.netty.resources.PooledConnectionProvider" level="WARN"/>
    <logger name="reactor.netty.http.client.HttpClientOperations" level="WARN"/>
    <logger name="org.springframework.core.codec.CharSequenceEncoder" level="WARN"/>
    <logger name="io.netty.handler.ssl.JdkSslContext" level="WARN"/>
    <logger name="org.springframework.http.codec.multipart.MultipartHttpMessageReader" level="WARN"/>
    <logger name="org.springframework.data.mongodb.core.index.ReactiveMongoPersistentEntityIndexCreator" level="WARN"/>
    <logger name="reactor.netty.tcp.SslProvider" level="WARN"/>
    <logger name="reactor.netty.http.client.HttpClientConnect" level="WARN"/>
    <logger name="org.springframework.web.HttpLogging" level="WARN"/>
    <logger name="io.netty.buffer.AbstractByteBuf" level="WARN"/>
    <logger name="io.netty.util.ResourceLeakDetectorFactory" level="WARN"/>
    <logger name="io.netty.util.Recycler" level="WARN"/>
    <logger name="io.netty.handler.ssl.OpenSsl" level="WARN"/>
</configuration>